@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin margPadgBord {
  padding: 10px 15px;
  margin:5px;

  border:2px solid rgb(11, 125, 129);
  border-radius: 50px;

  width: fit-content;
}

@mixin background {
  background-color: rgb(0, 0, 0);

  color: rgb(10, 188, 219);
}

body{
  font-size: larger;
  background-color: rgb(0, 46, 46)
}


.container{
  @include margPadgBord();
  @include background();
  position: absolute;
  left:40%;
  top:30%
}

.countdown, .digitalClock{
  @include flex();
  & h2{
    @include margPadgBord();
    @include background();
  }
}

.stopwatch__container{
  @include flex();
  align-items: center;
  font-size: larger;
  & .stopwatch{
    @include background();
    @include margPadgBord();
    margin: 15px 0px 0px 0px;
  }
  & button{
    @include background();
    @include margPadgBord();
  }
}


